<div class="row">
    <h1>counter for each name: </h1>


    {{!-- {{#each count}} --}}
    <h3>{{greetedName}}</h3>
    {{!-- {{/each}} --}}


 <hr>
    <a href="/greeted"><button>back</button></a>

</div>