<div class="row">
    <h1>Greeted Names: </h1>

    <ul>
        {{#each greeted}}
        <li><a href="/count/{{name}}">{{name}}</a></li>
        {{/each}}
    </ul>
    <hr>
    <a href="/"><button>back</button></a>
</div>