 <div class="container">
    <div>
        <b>
            <h1>Greeting</h1>
        </b>
        <form action="/" method="POST">
            <h3 class="name">Name: </h3>
            <input type="text" class="nameEntered" name="nameValue" placeholder="enter name">
            <div class="counter">{{count}}</div>
    </div>
    <label class="">
        <input type="radio" name="language" value="English" class="selectLang">
        <span class="label-body">English</span>
    </label>

    <label class="">
        <input type="radio" name="language" value="IsiXhosa" class="selectLang">
        <span class="label-body">IsiXhosa</span>
    </label>

    <label class="">
        <input type="radio" name="language" value="Afrikaans" class="selectLang">
        <span class="label-body">Afrikaans</span>
    </label>

    <div>
        <button class="button-primary" type="submit" name="button">Greet me!</button>   
 <a href="/reset"><button class="button-primary" type="button" name="button">Reset</button></a>
    </div>
    </form>

    <div class="message">
        {{message}}
        <br>
    </div>

    <a href="/greeted">Greeted Names</a>