{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="greet.css"> 
</head>
<body>
  <div class="container"> --}}
<div>
    <b>
        <h1>Greeting</h1>
    </b>
    <h3 class="name">Name: </h3>
    <input type="text" class="nameEntered" placeholder="enter name">
    <div class="counter"></div>
</div>

<div class="selectLang">
    <strong>Choose a language: </strong>
    <input type="radio" name="language" value="English">English
    <input type="radio" name="language" value="Afrikaans">Afrikaans
    <input type="radio" name="language" value="IsiXhosa">IsiXhosa

</div>

<div>
    <button class="btnGreet">Greet me!</button>
</div>
<div class="message"></div>

{{!-- </div> --}}
{{!-- </body>
<script src="factory-function.js"></script>
<script src="greet-dom.js"></script>
</html> --}}