body{
    background-color: slategrey;
}

.name{
    color: aqua;
}

.name,.nameEntered,.counter{
    display: inline;
    font-size: larger;
}

.button-primary{
    color: aqua;
    background-color: palevioletred;
    font-size: xx-large;
     
}

.label-body{
    color: black;
    font-size: xx-large;
    
}
